<div class="container">
 <div>
  <p id="notice"><%= notice %></p>

  <h1>
    Artists in <%= @genre.name %> genre
  </h1>

  <ul>
   <% @genre.artists.order('name').each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %></li>
   <% end %>
  </ul>

<%= link_to 'Edit', edit_genre_path(@genre), class: 'btn btn-info' %> |
<%= link_to 'Back', genres_path, class: 'btn btn-info' %>
</div>
</div>